<form method="post" action="{{ path('backoffice_advertisement_delete', {'id': advertisement.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć to ogłoszenie?');" class="inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ advertisement.id) }}">
    <button type="submit" class="text-red-600 hover:text-red-900 bg-white hover:bg-red-50 border border-red-600 py-2 px-4 rounded-md text-sm flex items-center">
        <i class="fas fa-trash mr-2"></i> Usuń
    </button>
</form> 