{% extends 'backoffice/base.html.twig' %}

{% block title %}Edycja ogłoszenia - Panel Firmowy{% endblock %}

{% block header %}Edycja ogłoszenia{% endblock %}

{% block body %}
    <div class="bg-white shadow rounded-lg p-6">
        <div class="mb-6 flex justify-between items-center">
            <div>
                <h2 class="text-xl font-semibold text-gray-800">Edytuj ogłoszenie</h2>
                <p class="text-gray-600 mt-1">Zmodyfikuj dane ogłoszenia i zapisz zmiany.</p>
            </div>
            {% include 'backoffice/advertisement/_delete_form.html.twig' %}
        </div>

        {% include 'backoffice/advertisement/_form.html.twig' with {'button_label': 'Zapisz zmiany'} %}
    </div>
{% endblock %} 